.footer {
    background-color: $black;
    color: $white;
    padding: 0 5%;
    &__items {
        &-heading {
            margin:0;
            padding-top:32px;
            font-family: AvenirBold;
            font-size:24px;
            line-height: 32px;
            color: $white;
           
        }
        &-social-media {
            list-style-type: none;
            margin-right: 10px;
            
        }
        &-logo {
            display:none;
        }
    }
   
    &__person {
        font-family: AvenirBold;
        &-name {
            margin-bottom: 10px;
        }
        &-address, &-information {
            color: $white;
            text-decoration: none;
            font-size: 13px;
            line-height: 18px;
            font-family: AvenirRegular;
            margin-bottom: 10px;
        }
    }

    &__copyright {
        font-size: 13px;
        line-height: 18px;
        font-family: AvenirRegular;
        margin:0; 
        padding-bottom: 32px;
        &--mobile-align {
            display:block;
        }
       
    }
}

@include medium {
    .footer {
        &__items {
            width:100%;

            &-heading {
                display:inline-block;
                font-size: 36px;
                line-height: 44px;
                margin-right: 20px;
            }

            &-logo {
                float:right;
                display: inline-block;
                padding-top:32px;
                
            }
        }
        &__contact {
            display: flex;
            justify-content: space-between;
        }
        &__person {
            
            &-name {
                font-size: 14px;
                line-height: 24px;
                margin-bottom: 10px;
            }
            &-address, &-information {
            
                font-size: 13px;
                line-height: 18px;
                font-family: AvenirRegular;
                margin-bottom: 10px;
               
            }
        }
        
        &__copyright {
            display: block;
            font-size: 13px;
            line-height: 18px;
            padding-bottom: 32px;
            margin:0;
            color: $white;  
            &--mobile-align {
                display:inline-block;
            }

        }
    }
 
}


@include huge {
    .footer {
        padding: 0 12.5%;
        &__items {
            &-heading {
                padding-top:48px;
            }
            &-social-media {
                margin: 0 16px;
            }
            &-logo {
                padding-top:50px;
            }
        }
        &__contact {
    
            justify-content: flex-start;
        }
        &__person {
            margin-right: 58px;
        }

        &__copyright {
            padding-bottom:48px;
        }
    }
  
}