.hero {
    font-family: AvenirBold;
    position: relative;
    font-size:14px;
    line-height: 22px;
    height:183px;
    width:100%;
    background-image: linear-gradient(
        rgba($black,0.5),
        rgba($black,0.5)
    ), url("../assets/images/guitar.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 32px;
    display: flex;
    align-items: center;

    &__header {
        padding: 0 5%;
        color: $white;
        margin:0;
    
    }
    
}

@include medium {
    .hero {
        height:400px;
        font-size: 36px;
        line-height: 44px;
    &__header {
        padding: 0 3.125%;
    }

    }

}

@include huge {
    .hero {
        height: 670px;
        padding-left: 12.5%;
        
        &__header {
            margin: 0;
            padding:0;
           
        }
    }
}

