/* media query for tablet */
/* media query for landscape, medium pixel density desktops */
/* media query for high pixel density desktops */
@font-face {
  font-family: AvenirRegular;
  src: url("../assets/fonts/AvenirRegular.otf");
}

@font-face {
  font-family: AvenirBold;
  src: url("../assets/fonts/AvenirBold.otf");
}

.navbar {
  padding: 0 5%;
  background-color: #323232;
  height: 80px;
}

.navbar::after {
  content: "";
  display: block;
  clear: both;
}

.navbar__menu {
  list-style-type: none;
  color: #FFF;
  padding-left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.navbar__menu-item {
  margin: 0;
  width: 50%;
  text-align: center;
}

.navbar__menu-item--active {
  border-bottom: 4px solid white;
  padding-bottom: 5px;
}

.navbar__menu-logo {
  display: block;
  margin: 0  auto 16px auto;
  padding-top: 16px;
}

@media only screen and (min-width: 768px) {
  .navbar {
    padding: 0 3.125%;
    height: 80px;
    background-color: #323232;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
  .navbar__menu {
    list-style-type: none;
    color: #FFF;
    margin: 0;
  }
  .navbar__menu-item {
    display: inline-block;
    padding-bottom: 20px;
    margin: 0 20px;
    line-height: 20px;
  }
  .navbar__menu-item--active {
    border-bottom: 3px solid white;
  }
  .navbar__menu-logo {
    padding: 0;
    margin: auto 0;
  }
}

/* .navbar {
    padding: 0 12.5%;
    height: 80px;
    background-color: $black;
    display: flex;
    align-items: center;
    &::after {
        content: "";
        display: block;
        clear: both;
    }

    &__menu {
        list-style-type: none;
        color: $white;
        float:left;
        padding-left: 0;
        
      
        
        &-item {
            display: inline-block;
            margin: 0 28px;
            line-height: 20px;
            
            &--active {
                margin-top: 30px;
                padding-bottom: 20px;
                border-bottom: 5px solid white;
            }
        }

        &-logo {
            margin-right: 28px;
        }

        
    }

} */
.hero {
  font-family: AvenirBold;
  position: relative;
  font-size: 14px;
  line-height: 22px;
  height: 183px;
  width: 100%;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(50, 50, 50, 0.5)), to(rgba(50, 50, 50, 0.5))), url("../assets/images/guitar.jpg");
  background-image: linear-gradient(rgba(50, 50, 50, 0.5), rgba(50, 50, 50, 0.5)), url("../assets/images/guitar.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero__header {
  padding: 0 5%;
  color: #FFF;
  margin: 0;
}

@media only screen and (min-width: 768px) {
  .hero {
    height: 400px;
    font-size: 36px;
    line-height: 44px;
  }
  .hero__header {
    padding: 0 3.125%;
  }
}

.about {
  color: #323232;
  margin-bottom: 40px;
  font-family: AvenirBold;
  font-size: 14px;
  line-height: 22px;
  padding: 0 5%;
}

.about__content-image {
  width: 100%;
  margin-bottom: 24px;
}

.about__content-text {
  margin: 0 0 32px 0;
  font-size: 14px;
  line-height: 22px;
}

.about__content-sub-header {
  font-size: 13px;
  line-height: 18px;
  margin: 0 0 40px 0;
}

.about__article-paragraph {
  font-family: AvenirRegular;
}

.about__article-heading {
  font-family: AvenirBold;
  font-size: 14px;
  line-height: 22px;
  margin-bottom: 24px;
}

@media only screen and (min-width: 768px) {
  .about {
    font-size: 24px;
    line-height: 32px;
    padding: 0 3.125%;
  }
  .about__content-image {
    width: 100%;
    height: 362px;
    margin-bottom: 24px;
  }
  .about__content-text {
    font-size: 24px;
    line-height: 32px;
  }
  .about__content-subheader {
    font-size: 16px;
    line-height: 24px;
    margin: 0 0 40px 0;
  }
  .about__article-heading {
    font-size: 24px;
    line-height: 32px;
  }
  .about__article-paragraph {
    font-size: 14px;
    line-height: 22px;
    margin: 0 12px;
  }
  .about__articles {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

/*.about {
    color: $black;
    font-family: AvenirBold;
    font-size:24px;
    line-height: 32px;
    padding: 0 12.5%;

    &__heading {
        margin: 0 0 48px 0 ;
    }
    &__content {
        padding:0 92px;
        &-image {
            width: 896px;
            height:450px;
            margin-bottom:48px;

            
        }
        &-header {
            margin: 0 0 40px 0;
            font-size:24px;
            line-height: 32px;

        }

        &-subheader {
            font-size:16px;
            line-height: 24px;
            margin:0;
        }

    }
    &__article {
        margin-bottom: 48px;
        &-header {
            margin:56px 0 32px 0;
            font-size:24px;
            line-height: 32px;
        }
        &-paragraph-left, &-paragraph-right  {
            font-family: AvenirRegular;
            font-size:14px;
            line-height: 22px;
            width: 420px;
            display: inline-block;
            margin:0;
        }
        
        &-paragraph-left {
            margin-right: 20px;
        }
        &-paragraph-right {
            margin-left: 20px;
        }
        
    }
   
    
}

*/
.gallery {
  padding: 0 5%;
  background-color: #e1e1e1;
}

.gallery__heading {
  padding-top: 32px;
  font-family: AvenirBold;
  font-size: 14px;
  line-height: 22px;
}

.gallery__photos-art {
  margin: 0 0 16px 0;
  width: 100%;
}

@media only screen and (min-width: 768px) {
  .gallery {
    padding: 0 3.125%;
  }
  .gallery__heading {
    font-size: 24px;
    line-height: 32px;
  }
  .gallery__photos {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .gallery__photos-art {
    width: 29.17%;
    height: 126px;
  }
}

.footer {
  background-color: #323232;
  padding: 0 5%;
}

.footer__heading {
  margin: 0;
  padding-top: 32px;
  font-family: AvenirBold;
  font-size: 24px;
  line-height: 32px;
  color: #FFF;
}

.footer__social-media {
  list-style-type: none;
  margin-right: 10px;
}

.footer__person {
  color: white;
  font-family: AvenirBold;
}

.footer__person-name {
  margin-bottom: 10px;
}

.footer__person-address, .footer__person-information {
  font-size: 13px;
  line-height: 18px;
  font-family: AvenirRegular;
  margin-bottom: 10px;
}

html,
body {
  height: 100vh;
  font-family: AvenirRegular;
  margin: 0;
}
/*# sourceMappingURL=main.css.map */