.gallery {
    padding: 0 5%;
    
    &__heading {
        padding-top:32px;
        font-family: AvenirBold;
        font-size:14px;
        line-height: 22px;
   }
    &__photos {
        &-art {
            margin:0 0 16px 0;
            width: 100%;
       }
   }
}
@include medium {
    .gallery {
        padding: 0 3.125%;
        &__heading {
            font-size:24px;
            line-height: 32px;
       }
        &__photos {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            padding-bottom:30px;
            &-art {
                filter: grayscale(100%);
                transition: all 0.5s;
                &:hover {
                    filter: grayscale(0);
               }
                width:29.17%;
                height: 16.5vw;
           }
       }
   }
}
@include huge {
    .gallery {
        padding: 0 12.5%;
        &__heading {
            padding-top:48px;
            margin-bottom: 64px;
            font-size:36px;
            line-height: 44px;
       }
        &__photos {
            padding-bottom: 40px;
            &-art {
                width: 31.85%;
                height: 13vw;
           }
       }
   }
}